<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>209656519465-sg1njj0g4hfv9hk6gj162rqv3er2kqig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209656519465-sg1njj0g4hfv9hk6gj162rqv3er2kqig</string>
	<key>API_KEY</key>
	<string>AIzaSyDWAAT-_OqyC2xCu4-KvlhY8dA9WiI71B4</string>
	<key>GCM_SENDER_ID</key>
	<string>209656519465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onlineeducationservice.vhelp</string>
	<key>PROJECT_ID</key>
	<string>v-help</string>
	<key>STORAGE_BUCKET</key>
	<string>v-help.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209656519465:ios:ee87b6f77b994fb2</string>
	<key>DATABASE_URL</key>
	<string>https://v-help.firebaseio.com</string>
</dict>
</plist>