<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-firebase-core" version="1.1.3">
    <name>Firebase Core</name>
    <description>Adds support for Firebase to your Cordova/PhoneGap apps.</description>
    <license>Apache 2.0</license>
    <keywords>firebase,cordova,core</keywords>
    <author>Carlos "blakgeek" Lawton</author>
    <repo>https://github.com/blakgeek/cordova-plugin-firebase-core.git</repo>
    <issue>https://github.com/blakgeek/cordova-plugin-firebase-core/issues</issue>

    <js-module src="www/firebaseCorePlugin.js" name="FirebaseCorePlugin">
        <clobbers target="FirebaseCore"/>
        <clobbers target="FirebaseCorePlugin"/>
    </js-module>

    <engines>
        <engine name="cordova" version="&gt;=6.0.0"/>
        <engine name="cordova-android" version="&gt;=4.0.0"/>
        <engine name="cordova-plugman" version="&gt;=4.2.0"/>
    </engines>

    <dependency id="cordova-plugin-cocoapod-support"/>

    <hook type="before_plugin_install" src="hooks/npm-install.js"/>
    <hook type="after_prepare" src="hooks/configure-ios.js"/>
    <hook type="after_prepare" src="hooks/configure-android.js"/>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FirebaseCorePlugin">
                <param name="ios-package" value="FirebaseCorePlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/FirebaseCorePlugin.h"/>
        <source-file src="src/ios/FirebaseCorePlugin.m"/>
        <pod id="Firebase/Core"/>
    </platform>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FirebaseCorePlugin">
                <param name="android-package" value="com.blakgeek.cordova.plugin.FirebaseCorePlugin"/>
            </feature>
        </config-file>

        <framework src="src/android/plugin.gradle" custom="true" type="gradleReference"/>
        <framework src="com.google.firebase:firebase-core:+"/>

        <source-file src="src/android/com/blakgeek/cordova/plugin/FirebaseCorePlugin.java" target-dir="src/com/blakgeek/cordova/plugin/"/>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
        </config-file>
    </platform>
</plugin>
